html,
body,
#root {
  height: 100%;
  width: 100%;
}
.about-us-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: radial-gradient(
      at 50% 50%,
      hsla(162, 77%, 40%, 0.173) 0,
      transparent 50%
    ),
    radial-gradient(at 82% 65%, hsl(218, 39%, 11%) 0, transparent 50%);
}

.about-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-top: 10vh;
  padding: 20px;
}

.about-intro,
.our-mission,
.our-products,
.visit-us {
  margin-bottom: 2em;
  width: 80%;
}

.about-intro h1,
.our-mission h2,
.our-products h2,
.visit-us h2 {
  color: #ffffff;
}

.about-intro > .tagline {
  padding: 15px 0 10px 0;
  font-style: italic;
  font-weight: 600;
  color: #4b830d;
}

.about-intro p,
.our-mission p,
.our-products p,
.visit-us p {
  color: #bbb9b9;
  line-height: 1.6;
}

.visit-us a {
  color: #4b830d;
  text-decoration: none;
  font-weight: 600;
}

.visit-us a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #4b830d;
  transition:
    width 0.3s ease,
    left 0.3s ease;
}

.visit-us a:hover::after {
  width: 100%;
  left: 0;
}
