.all-product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 420px;
  padding: 25px 0;
  background-color: #10101057;
  border: 1px solid #ffffff1a;
  border-radius: 8px;
}

.all-product:hover {
  box-shadow: 5px 5px 30px 2px rgba(0, 0, 0, 0.086);
  background-color: #1b1b1b61;
  transition: 0.5s;
}

.all-products {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1vw;
  align-items: center;
  justify-content: center;
  padding: 15vh 0;
}

.all-products-container {
  background-color: #000;
  background-image: radial-gradient(
      at 50% 50%,
      hsla(162, 100%, 18%, 0.173) 0,
      transparent 50%
    ),
    radial-gradient(at 82% 65%, hsl(218, 39%, 11%) 0, transparent 50%);

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-product-details {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.all-product-name {
  margin: 8px 8px 8px 0;
  color: #a7897b;
  font-style: bold;
  font-size: 1.3rem;
}

.all-product-image {
  height: 25vh;
  border-radius: 15px;
  padding: 10px;
}

.all-product-category {
  color: #d0d0d0ac;
  font-weight: 200;
  font-size: 1rem;
  margin: 0 8px 8px 0;
}

.all-product-price {
  color: #5eeaa9;
  font-weight: 80;
  margin: 0 8px 8px 0;
}

.all-product-size {
  color: #fff;
  font-weight: 80;
  margin: 0 8px 8px 0;
  font-size: 1rem;
}

.all-products-btns {
  display: flex;
}

.all-padd-to-cart,
.all-padd-to-wish {
  all: unset;
  text-align: center;
  background-color: #ffffff0f;
  border-right: 1px solid #ffffff1a;
  border-bottom: 1px solid #ffffff1a;
  min-width: 40px;
  max-width: 60px;
  padding: 0 12px;
}

.all-padd-to-cart {
  border-radius: 0 20px 20px 0;
}

.all-padd-to-wish {
  border-radius: 20px 0 0 20px;
  margin-right: 3px;
}

.all-padd-to-cart img,
.all-padd-to-wish img {
  padding: 3px 0 0 0;
  width: 30px;
  height: 28px;
}

.all-padd-to-cart:hover,
.all-padd-to-wish:hover {
  background-color: #ffffff20;
  transition: 0.5s;
  cursor: pointer;
}

@media only screen and (max-width: 1290px) {
  .all-products {
    grid-template-columns: 1fr 1fr;
    gap: 3vw;
    place-items: center;
  }
}

@media only screen and (max-width: 890px) {
  .all-product {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 33vw;
    min-width: 30vw;
    padding: 18px 0;
    max-height: 44vh;
    min-height: 35vh;
  }
  .all-products {
    grid-template-columns: 1fr 1fr;
  }
  .all-product-image {
    max-height: 32vw;
    max-width: 32vw;
  }

  .all-product-details {
    margin-top: 10px;
    padding: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .all-product-name {
    font-size: 0.8rem;
  }
  .all-product-price {
    font-size: 0.7rem;
  }
  .all-product-size {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 680px) {
  .all-product {
    max-width: 40vw;
    min-width: 30vw;
  }

  .all-product-image {
    max-height: 38vw;
    max-width: 38vw;
    padding: 10px 0 0 0;
  }
  .all-product-details {
    margin: 2px 0;
  }

  .all-padd-to-cart,
  .all-padd-to-wish {
    width: 10px;
  }
  .all-padd-to-cart img,
  .all-padd-to-wish img {
    width: 25px;
  }
}
