.single-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  background-color: #000;
  background-image: radial-gradient(
      at 50% 50%,
      hsla(162, 100%, 18%, 0.173) 0,
      transparent 50%
    ),
    radial-gradient(at 82% 65%, hsl(218, 39%, 11%) 0, transparent 50%);
}

.sp-container {
  padding: 18vh 0;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.sp-img-container {
  display: flex;
  height: 30vw;
  width: 30vw;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #0096691b;
  border: 1px solid #c0c0c054;
}

.sp-details {
  width: fit-content;
  padding-left: 40px;
  text-align: justify;
}

.sp-img {
  height: 25vw;
  width: 25vw;
  padding: 10px;
  border-radius: 20px;
}

.sp-name {
  margin: 8px 8px 8px 0;
  color: #a7897b;
  font-style: bold;
  font-size: 1.8rem;
}

.sp-price {
  color: #5eeaa9;
  font-weight: 80;
  margin: 0 8px 8px 0;
  font-size: 1.1rem;
}

.sp-size {
  color: #fff;
  font-weight: 80;
  margin: 0 8px 8px 0;
  font-size: 1.3rem;
}
.sp-desc {
  color: #b0b0b0d2;
  font-size: 1rem;
  margin: 20px 0;
  line-height: 1.3;
}

.sp-add-to-cart {
  color: #d4d4d4;
  background-color: #ffffff0f;
  border: 1px solid #ffffff1a;
  box-shadow: 2px 2px 20px -1px rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 1rem;
  font-weight: 600;
  margin: 30px 8px 5px 0;
  text-transform: uppercase;
}
.sp-add-to-cart:hover {
  background-color: #ffffff20;
  transition: 0.5s;
  cursor: pointer;
}

.sp-counter {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #dededeac;
  width: 105px;
  padding: 6px 10px;
  border-radius: 20px;
}
.sp-counter > p {
  font-size: 1rem;
  color: #fff;
}

.quantity-text {
  color: #fff;
  font-size: 1.2rem;
}

.sp-counter > button {
  all: unset;
  border-style: none;
  height: 100%;
  color: #fff;
  cursor: pointer;
  padding: 0 10px;
}
.sp-counter > .buttonmius {
  border-right: 1px solid rgba(209, 213, 219, 0.3);
}

@media screen and (max-width: 890px) {
  .sp-container {
    grid-template-columns: 1fr;
    padding: 15vh 0;
  }
  .sp-details {
    margin-top: 20px;
    width: 100%;
    padding: 0;
  }

  .sp-img-container {
    width: 50vw;
    height: 50vw;
  }

  .sp-img {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .sp-container {
    flex-direction: column;
    justify-content: center;
    width: 85%;
  }
  .sp-details {
    margin-top: 20px;
    width: 100%;
    padding: 0;
  }

  .sp-img-container {
    width: 100%;
    height: 80vw;
  }

  .sp-img {
    height: 100%;
    width: 100%;
  }
}
