.wholesale-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: radial-gradient(
      at 50% 50%,
      hsla(162, 100%, 22%, 0.134) 0,
      transparent 50%
    ),
    radial-gradient(at 82% 65%, hsl(218, 39%, 11%) 0, transparent 50%);

  color: #ffffff;
}

.wholesale-main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 10vh;
  padding: 30px;
}

.wholesale-main-content h1 {
  color: #ffffff;
  font-size: 1.7rem;
  padding-bottom: 30px;
}
.wholesale-main-content h2 {
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px 0 15px 0;
}
.our-offerings-list li {
  color: #ffffff;
  list-style: none;
  font-size: 1rem;
  padding: 5px 0 5px 0;
}

.our-offerings-list span {
  color: #bbb9b9;
  padding-left: 8px;
  font-size: 0.9rem;
}

.wholesale-main-content p {
  color: #ffffff;
  line-height: 1.6;
  font-weight: 600;
  width: fit-content;
  padding: 2px 10px;
  backdrop-filter: blur(16px) saturate(120%);
  -webkit-backdrop-filter: blur(10px) saturate(120%);
  background-color: #004e0a3b;
  border-right: 1px solid rgba(209, 213, 219, 0.3);
  border: 1px solid rgba(209, 213, 219, 0.074);
  border-radius: 15px;
}

.contact-us a {
  color: #4b830d;
  text-decoration: none;
  font-weight: 600;
}

.contact-us a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #4b830d;
  transition:
    width 0.3s ease,
    left 0.3s ease;
}

.contact-us a:hover::after {
  width: 100%;
  left: 0;
}
.bottom-p {
  color: #ffffff;
  font-size: 1rem;
  padding: 5px 0 5px 0;
}

@media screen and (max-width: 600px) {
  .wholesale-main-content {
    padding: 20px;
  }
  .wholesale-main-content h1 {
    font-size: 1.2rem;
  }
  .wholesale-main-content h2 {
    font-size: 1rem;
  }
}
